<h2 class="mb-4 text center">Join the Collective</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>

    <h5 class="mt-5 mb-4">Now let's get to know you. &#128123;</h5>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :city %>
    <%= f.input :industry %>
    <%= f.input :linkedin, label: "LinkedIn" %>
    <%= f.input :oneliner, label: "What's your one-line introduction?", placeholder: "E.g. ...", :as => :text, :input_html => { 'rows' => 2}  %>
    <%= f.input :funfact, label: "Share a fun fact about yourself.", placeholder: "E.g. ...", :as => :text, :input_html => { 'rows' => 2}  %>

    <%= f.input :referrer, label: "Who invited you to the collective?", hint: "Please write his or her full name as written in the email you received." %>
  </div>

  <div class="form-actions center">
    <%= f.button :submit, "Sign up", class: "btn btn-primary my-4" %>
  </div>
<% end %>

<div class="center">
  <%= render "devise/shared/links" %>
</div>
