<p style='text-align: center; margin: 20px;'>Hey team,</p>

<p style='text-align: center; margin: 20px;'>A new member just registered! &#128588;</p>

<p style='margin: 0 20px;'><strong>Name:</strong> <%= @user.full_name %></p>
<p style='margin: 0 20px;'><strong>City:</strong> <%= @user.city %></p>
<p style='margin: 0 20px;'><strong>Industry:</strong> <%= @user.industry %></p>
<p style='margin: 0 20px;'><strong>Referrer:</strong> <%= @user.referrer %></p>
<p style='margin: 0 20px;'><strong>About:</strong> <%= @user.oneliner %></p>
<p style='margin: 0 20px;'><strong>Fun fact:</strong> <%= @user.funfact %></p>
  <% if @user.linkedin.present? %>
<p style='margin: 0 20px;'><strong>LinkedIn:</strong> <%= @user.linkedin %></p>
<% end %>
<p style='margin: 0 20px;'><strong>Contact:</strong> <%= @user.email %></p>

<p style='text-align: center; margin: 20px;'><strong>Please verify ASAP on the <%= link_to "QFC platform", "https://quick-favor-club.herokuapp.com/" %>!</strong></p>
