<% if current_user.verified == true %>
  <h1 class="text-center mb-4">Favors in the Community</h1>

  <% @favors.each do |favor| %>
    <div class="favor-container">
      <p><strong>Favor:</strong> <%= favor.favor %></p>
      <p><strong>Significance:</strong> <%= favor.significance %></p>
      <p><strong>Details:</strong> <%= favor.details %></p>
      <% if favor.link.present? %>
        <p><strong>Link:</strong> <%= favor.link %></p>
      <% end %>
      <p><strong>Posted by:</strong>
        <% if favor.user == current_user %>
          You :)
        <% else %>
          <%= favor.user.first_name %> <%= favor.user.last_name %> (<%= favor.user.email %>)</p>
        <% end %>
    </div>
  <% end %>
<% else %>
  <h3>Be patient with us! Your registration is being verified :)</h3>
<% end %>
