<p style='text-align: center; margin: 20px;'>Hey there!</p>
<p style='text-align: center; margin: 20px;'><strong>A new favor request just came in from <%= @favor.user.city %>-based <%= @favor.user.full_name %>!</strong> &#128075;</p>

<p style='margin: 20px;'><strong>Favor:</strong> <%= @favor.favor %></p>
<p style='margin: 20px;'><strong>Significance:</strong> <%= @favor.significance %></p>
<p style='margin: 20px;'><strong>Details:</strong> <%= @favor.details %></p>
<% if @favor.link.present? %>
   <p style='margin: 20px;'><strong>Link:</strong> <%= @favor.link %></p>
<% end %>
<p style='text-align: center; margin: 20px;'>Hit <%= @favor.user.first_name %> up at <u><%= @favor.user.email %></u>.</p>

<p style='margin: 0 20px;'><strong>More about <%= @favor.user.full_name %>:</strong> <%= @favor.introduction %></p>
<p style='margin: 0 20px;'><strong>Fun fact:</strong> <%= @favor.user.funfact %></p>

<p style='margin: 20px;'>If you're able to help out, please pay it forward - it should be quick. &#128522;</p>

<p style='text-align: center; margin: 20px;'>Cheers,</p>

<p style='text-align: center; margin: 20px;'>The Quick Favor Team</p>
