<h1>Invite a Friend</h1>

<%= simple_form_for [current_user, @referral] do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email, label: "What is your friend's email address?" %>
  <%= f.button :submit %>
<% end %>
