<h2 class="mb-4 text-center">Members of the Collective</h2>

<table class="table text-center">
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">City</th>
      <th scope="col">Industry</th>
      <th scope="col">Referred by</th>
      <th scope="col">Verified</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to(user_path(user)) do %>
              <i class="fas fa-info-circle"></i>
            <% end %>
          </td>
          <td>
            <% if user.admin == false %>
              <%= link_to(user_registration_path, method: :delete, data: { confirm: 'Are you sure?' } ) do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.city %></td>
          <td><%= user.industry %></td>
          <td><%= user.referrer %></td>
          <td>
            <% if user.verified == true %>
              <i class="fas fa-check"></i>
            <% else %>
              <%= link_to "Verify", "#" %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
