<div class="profile-container pt-2">

<div class="center mb-3">
  <% if false %>
    <%= cl_image_tag @user.photo.key, height: 80, width: 80, crop: :fill %>
  <% end %>
</div>
<h2 class="mb-3 text-center"><%= @user.full_name %></h2>

<p class="text-center"><i class="fas fa-home"></i> &nbsp;<%= @user.city %>  &nbsp;| &nbsp; <i class="fas fa-briefcase"></i>&nbsp; <%= @user.industry%></p>

<p class="my-0"><strong>One-liner</strong>: <%= @user.oneliner %></p>
<p><strong>Fun fact</strong>: <%= @user.funfact %></p>

<% if current_user.admin == true %>
  <p><i class="fas fa-envelope"></i>  <%= @user.email %></p>
<% end %>
<% if @user.linkedin.present? %>
  <p><i class="fab fa-linkedin"></i> <a href=<%= @user.linkedin %> target="_blank">See Profile</a></p>
<% end %>

<% if current_user.admin == true %>
  <p class="my-0"><strong>Referred by</strong>: <%= @user.referrer %></p>

  <p><strong>Status</strong>:
    <% if @user.verified == true %>
      Verified Member
    <% else %>
      Unverified Applicant <i class="fas fa-exclamation-circle"></i>
    <% end %>
  </p>
<% end %>

<% if @user == current_user %>
  <%= link_to "Edit Profile", edit_user_registration_path(@user), class: "btn btn-secondary btn-block" %>
<% end %>
<% if @user != current_user && current_user.admin == false %>
  <%= link_to "Want an introduction?", contact_path, class: "btn btn-primary btn-block" %>
<% end %>

</div>

<div class="center">
</div>

<%= link_to "< back", :back %>
