<h1><%= @user.full_name %></h1>

<p><strong>City</strong>: <%= @user.city %></p>
<p><strong>Industry</strong>: <%= @user.industry%></p>
<p><strong>One-liner</strong>: <%= @user.oneliner %></p>
<p><strong>Fun fact</strong>: <%= @user.funfact %></p>

<% if current_user.admin == true %>
  <p class="mb-0"><i class="fas fa-envelope"></i>  <%= @user.email %></p>
<% end %>
<p class="mt-0"><i class="fab fa-linkedin"></i>  <a href=<%= @user.linkedin %> target="_blank"><%= @user.linkedin %></a>

<% if current_user.admin == true %>
  <p><strong>Referred by</strong>: <%= @user.referrer %></p>
<% end %>

<% if @user == current_user %>
  <%= link_to "Edit Profile", edit_user_registration_path(@user) %>
<% end %>

<br>
<br>

<%= link_to "< back", :back %>
